div.parting {
  width: 100%;
  height: 600px;
  background-color: white;
  box-sizing: border-box;
  margin-top: 40px;
  text-align: center;
  /* text-align: center; */
  /* border: 1px solid black; */
}

div.parting > div.part {
  width: 50%;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  /* border: 1px solid black; */
}
 

div.parting > div > p {
  font-family: body1;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  list-style: none;
  /* border: 1px solid green; */
}
div.parttop >div> p,div.partbellow >div> p{
font-family: body1;
font-size: 12px

}

div.parttop{
  width: 90%;
  height: 230px;
  display: inline-block;
  /* border: 1px solid red; */
  vertical-align: top;
  margin-bottom:25px;
  margin-top: 20px;
}
div.parttop>div{
  width: 200px;
  height: inherit;
  display: inline-block;
  /* border: 1px solid black; */
}

div.parttop>div>img{
  display: inline-block;
  width:170px ;
  height: 170px;
  margin-right: 10px;
}
div.partbellow{
  width: 90%;
  height: 230px;
  display: inline-block;
  /* border: 1px solid red; */
  vertical-align: top;
}
div.partbellow>div{
  width: 200px;
  height: inherit;
  display: inline-block;
  /* border: 1px solid black; */
}

div.partbellow>div>img{
  display: inline-block;
  width:170px ;
  height: 170px;
  margin-right: 10px;
}
  

